* {
    padding: 0;
    margin: 0;
}
body {
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}


.top1 {
    background-color: rgb(216, 19, 19);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.span1 {
    text-decoration: underline;
    color: white;
}


.top2 {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 180px;
}

.left {
    display: flex;
    align-items: center;
    gap: 10px;
}
.top2-text1 {
    font-size: 26px;
    color: red;
    font-weight: bold;
    letter-spacing: 1px;
}

.top2-div1 {
    display: flex;
    align-items: center;
    gap: 10px;
}
.top2-text2 {
    color: rgb(71, 71, 71);
}
.middle {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 35px;
}
.button1 {
    background-color: white;
    border: 1px solid red;
    color: red;
    font-weight: bold;
    padding: 10px 18px 10px 18px;
    font-size: 15px;
}
.right {
    display: flex;
    align-items: center;
    gap: 15px;
}
.img4 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
}

.middle1-text1 {
    font-size: 40px;
    color: black;
    font-weight: bold;
}
.middle1-text2 {
    color: rgb(71, 71, 71);
    line-height: 24px;
    font-size: 18px;
}
.for1 {
    color: white;
    background-color: red;
    padding: 10px 15px 10px 15px;
}
.primary-middle1 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.middle1 {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 95%;
}

.middle2-text1 {
    font-size: 30px;
    font-weight: bold;
    color: black;
}
.for2 {
    font-size: 16px;
}
.for3 {
    width: 180px;
}
.middle2-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.middle2-right {
    width: 99%;
    border-radius: 10px;
    object-fit: cover;
}
.for4 {
    margin-top: 200px;
}
.for5 {
    width: 260px;
}
.for6 {
    margin-top: 100px;
}



.left-box-div1 {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 20px 10px 20px 10px;
    border: 1px solid rgb(238, 238, 238);
}
.left-box-text1 {
    color: black;
    font-weight: bold;
    font-size: 16px;
}
.box {
    height: 500px;
    overflow-y: scroll;
    border: 1px solid gray;
}
.left-box {
    overflow-y: scroll;
    display: flex;
}

.right-box-text1 {
    font-weight: bold;
    color: black;
    font-size: 25px;
}
.right-box {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.span2 {
    color: red;
    text-decoration: underline;
}
.img6 {
    width: 650px;
}
.primary-img6 {
    overflow-x: scroll;
}

.middle2-box {
    width: 85%;
    padding: 15px;
    border: 1px solid rgb(218, 218, 218);
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: start;
}
.middle2-div1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.middle2-box-text1 {
    color: rgb(70, 70, 70);
    font-size: 18px;
}
.for7 {
    font-size: 16px;
    line-height: 20px;
}
.middle3 {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.primary-middle3 {
    margin-top: 50px;
}

.middle4-right-div1 {
    display: flex;
    gap: 20px;
    align-items: start;
}
.middle4-right-div2 {
    display: flex;
    flex-direction: column;
}

.middle4-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 85%;
    padding: 20px;
    border: 1px solid rgb(218, 218, 218);
}

.middle4-left {
    color: black;
    font-weight: bold;
    font-size: 40px;
    width: 95%;
}
.primary-middle4 {
    margin-top: 100px;
}
.middle4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.middle4-right {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.middle2-left-div2 {
    display: flex;
    gap: 5px;
    align-items: center;
}

.middle2-left-div1{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.for8 {
    border: 1px solid red;
    border-radius: 0px;
    padding: 20px 0px 20px 0px;
    display: flex;
    justify-content: center;
}
.helper1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
}
.middle2-right-text1 {
    color: red;
    font-weight: bold;
    font-size: 16px;
}


.primary-bottom {
    margin-top: 150px;
}
.bottom {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}

.bottom-div1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: start;
    justify-content: center;
}
.bottom-div1-div1 {
    display: flex;
    align-items: center;
    gap: 10px;
}


.bottom-div2-text1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    color: rgb(73, 73, 73);
}
.for9 {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.bottom-div2 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}



.primary-line {
    display: flex;
    justify-content: center;
}
.line {
    width: 99%;
    height: 1px;
    background-color: rgb(175, 175, 175);
}
.primary-bottom2 {
    margin-top: 30px;
}
.bottom2 {
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}
.bottom2-text1 {
    color: rgb(73, 73, 73);
    font-size: 14px;
}



















@media (max-width: 610px) {
    .top1 {
        display: none;
    }
}
@media (max-width: 1290px) {
    .top2 {
        gap: 0px;
        justify-content: space-around;
    }
}
@media (max-width: 950px) {
    .right {
        display: none;
    }
    .img4 {
        display: block;
    }
}
@media (max-width: 510px) {
    .middle {
        display: none;
    }
}